<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录 - 农产品交易平台</title>
    <link rel="stylesheet" type="text/css" href="/static/plugins/jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/jquery-easyui-1.7.0/themes/icon.css">
    <script type="text/javascript" src="/static/plugins/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
</head>
<body>
    <div class="easyui-panel" title="用户登录" style="width:400px;padding:30px 60px;">
        <form id="ff" method="post">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="username" style="width:100%" data-options="label:'用户名:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-passwordbox" name="password" style="width:100%" data-options="label:'密码:',required:true">
            </div>
            <div>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:100%">登录</a>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function submitForm(){
            $('#ff').form('submit',{
                url: '/api/user/login',
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    var result = eval('('+result+')');
                    if (result.success){
                        window.location.href = '/main';
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.message
                        });
                    }
                }
            });
        }
    </script>
</body>
</html> 